* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Lato", sans-serif;
  max-width: 1140px;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}
.header_burger {
  align-items: center;
  display: flex;
}
.header_search {
  display: flex;
  margin-right: 10px;
}
.header_ad {
  border: solid #BCBFC2 3px;
  width: 60px;
  height: 41px;
}
.header-add {
  margin-left: 10px;
}
.header_sign-in {
  margin-left: 25px;
}
.header-hero_logo {
  margin: auto;
  display: flex;
}

.sign-in {
  padding: 10px;
}

.three-months {
  color: #939699;
}

.left_side, .right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sections {
  font-size: 14px;
  margin-left: 16px;
  margin-right: 16px;
}

.line {
  height: 50px;
  border-right: 1px solid #D9DADB;
  margin-right: 48px;
}

.search {
  font-size: 14px;
  color: #939699;
}

.line_2 {
  width: 1140px;
  border-bottom: 1px solid #D9DADB;
  margin: auto;
}

.header-hero {
  max-width: 1140px;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}
.header-hero_statue {
  margin-left: 37px;
  align-items: center;
}
.header-hero-hero_adress {
  font-size: 14px;
}
.header-hero_logo {
  color: #262D33;
  font-size: 34px;
}
.header-hero-hero_date {
  font-size: 14px;
}
.header-hero_weather {
  margin-left: 60px;
  margin-right: 10px;
}

.navbar {
  max-width: 100%;
  background-color: #262D33;
  padding: 16px 0 19px;
}
.navbar-items {
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  max-width: 1140px;
  color: #ffffff;
  font-style: normal;
  justify-content: space-between;
  list-style: none;
  padding: 16px 0 19px;
  margin: auto;
  font-family: "Roboto Slab", serif;
}

.recommend {
  background-image: url(../img/Group-2.png);
  height: 570px;
}
.recommend__container {
  display: flex;
  max-width: 1140px;
  margin: auto;
}
.recommend__main {
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  background-image: url(../img/backgroubnd.png);
  display: flex;
  justify-content: space-between;
  padding: 55px;
}
.recommend__main-profileimg {
  margin-top: 55px;
  margin-left: 55px;
}
.recommend__main-svg {
  margin-right: 30px;
}
.recommend__texts {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  width: 263px;
}
.recommend__main-author {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
}
.recommend__main-job {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  display: flex;
  color: #939699;
}
.recommend__main-destination {
  font-family: "Lato", sans-serif;
  margin-top: 120px;
  font-size: 12px;
  color: #4592FF;
}
.recommend__main-title {
  font-size: 40px;
  color: #ffffff;
  display: flex;
  margin-top: 25px;
  font-family: "Roboto Slab", serif;
}
.recommend__main-downside {
  font-family: "Lato", sans-serif;
  display: flex;
  margin-top: 45px;
  align-items: center;
}
.recommend__main-play {
  margin-left: 30px;
  display: flex;
}
.recommend__main-playsvg {
  color: White;
  font-size: 14px;
  padding: 10px;
}
.recommend__texts {
  font-family: "Lato", sans-serif;
}
.recommend__texts-title {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 19px;
  margin: auto;
  padding-top: 20px;
}
.recommend__texts-titleline {
  border: 1px solid #4B5157;
}
.recommend__texts-2food {
  color: #3BBDC4;
  padding-left: 25px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 8px;
}
.recommend__texts-3food {
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 14px;
}
.recommend__texts-4food {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 19px;
  margin: auto;
  font-size: 14px;
}
.recommend__texts-foodline {
  border: 1px solid #4B5157;
}
.recommend__texts-2cars {
  color: #6E99AE;
  padding-left: 25px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 8px;
}
.recommend__texts-3cars {
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 19px;
  font-size: 14px;
}
.recommend__texts-carsline {
  border: 1px solid #4B5157;
}
.recommend__texts-2movies {
  color: #AC8EE3;
  padding-left: 25px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 8px;
}
.recommend__texts-3movies {
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 19px;
  font-size: 14px;
}
.recommend__texts-moviesline {
  border: 1px solid #4B5157;
}
.recommend__texts-2nfl {
  color: #FFA34D;
  padding-left: 25px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 8px;
}
.recommend__texts-3nfl {
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 14px;
}
.recommend__texts-4nfl {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 19px;
  margin: auto;
  font-size: 14px;
}
.recommend__texts-nflline {
  border: 1px solid #4B5157;
}
.recommend__texts-2techreviews {
  color: #3DC47E;
  padding-left: 25px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 8px;
}
.recommend__texts-3techreviews {
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 28px;
  font-size: 14px;
}
.recommend__texts-techline {
  border: 1px solid #4B5157;
}

.ad-box {
  background-color: #262D33;
  padding-bottom: 30px;
}

.container_ad-box {
  display: flex;
  background-color: #30363D;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  height: 130px;
}

.first-ad {
  display: flex;
  margin-right: 25px;
  align-items: center;
  color: #ffffff;
  margin-left: 25px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.second-ad {
  display: flex;
  margin-right: 25px;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.third-ad {
  display: flex;
  margin-right: 25px;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.forth-ad {
  display: flex;
  margin-right: 25px;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.first-ad_line {
  height: 75px;
  border-right: 1px solid #4B5157;
  margin-right: 25px;
}

.second-ad_line {
  height: 75px;
  border-right: 1px solid #4B5157;
  margin-right: 25px;
}

.third-ad_line {
  height: 75px;
  border-right: 1px solid #4B5157;
  margin-right: 25px;
}

.fourth-ad_line {
  height: 75px;
  border-right: 1px solid #4B5157;
  margin-right: 25px;
}

.container-2 {
  padding-top: 30px;
}

.cars {
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  background-position: right;
  grid-area: cars;
}
.cars-texts {
  max-width: 238px;
  padding: 25px;
  display: flex;
  padding-right: 0;
  flex-direction: column;
}
.cars-title {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #6e99ae;
  font-family: "Lato", sans-serif;
}
.cars-article {
  font-size: 25px;
  width: 213px;
  font-family: "Roboto Slab", serif;
}
.cars-line {
  border: 1px solid;
  color: #939699;
}
.cars-text {
  width: 228px;
  font-family: "Lato", sans-serif;
}
.cars-commentnumber {
  margin-left: 5px;
  font-family: "Lato", sans-serif;
}
.cars-comment {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 35px;
  font-size: 14px;
}
.cars-avatarname {
  margin-left: 10px;
  margin-right: 15px;
  font-family: "Lato", sans-serif;
}

.cars-texts {
  max-width: 203px;
  padding: 25px;
}

.art-design {
  grid-area: art-design;
  background-image: url(../img/Hand.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.art-design-texts {
  display: flex;
  padding-left: 25px;
  flex-direction: column;
}
.art-design-title {
  padding-top: 160px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #E7D9FF;
}
.art-design-article {
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 10px;
  color: #fff;
  font-family: "Roboto Slab", serif;
}
.art-design-comments {
  padding: 25px;
}
.art-design-dates {
  display: flex;
}

.columns {
  grid-area: columns;
  background-color: #6E99AE;
  max-width: 263px;
}
.columns-1title {
  padding: 20px;
}
.columns-1line {
  border: 1px solid #eee;
}
.columns-1texts {
  padding-left: 25px;
}
.columns-1quote {
  margin-top: 35px;
}
.columns-1avatar {
  display: flex;
}
.columns-2texts {
  padding-left: 25px;
}
.columns-3texts {
  padding-left: 25px;
}
.columns-4line {
  border: 1px solid #eee;
}

.cat {
  grid-area: cats;
  background-image: url(../img/019.png);
}
.cat-title {
  padding-left: 25px;
  padding-top: 290px;
}

.coffee {
  grid-area: coffee;
}
.coffee-1 {
  padding: 25px;
}
.coffee-text {
  font-family: "Lato", sans-serif;
}
.coffee-date {
  font-family: "Lato", sans-serif;
}
.coffee-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.manufacture {
  grid-area: manufacture;
}
.manufacture-1 {
  padding: 25px;
}
.manufacture-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.manufacture-text {
  font-family: "Lato", sans-serif;
}
.manufacture-date {
  font-family: "Lato", sans-serif;
}

.world {
  grid-area: world;
}
.world-1 {
  padding: 25px;
}
.world-text {
  font-family: "Lato", sans-serif;
}
.world-date {
  font-family: "Lato", sans-serif;
}
.world-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.lemon {
  grid-area: lemon;
}
.lemon-1 {
  padding: 25px;
}
.lemon-text {
  font-family: "Lato", sans-serif;
}
.lemon-date {
  font-family: "Lato", sans-serif;
}
.lemon-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.banner {
  background-image: url(../img/banner.png);
  height: 270px;
}

.banner__title {
  display: flex;
  justify-content: center;
  color: White;
  font-size: 40px;
  margin: auto;
  padding-top: 60px;
  padding-left: 356px;
  padding-right: 356px;
}

.banner__svg {
  display: flex;
  align-items: center;
  margin: auto;
}

.banner__title2 {
  display: flex;
  justify-content: center;
  color: White;
  font-size: 40px;
  margin: auto;
}

.add__box {
  max-width: 1140px;
  display: flex;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.add__box-left {
  width: 848px;
  padding-right: 29px;
  font-family: "Lato", sans-serif;
}

.left__box-flights {
  display: flex;
  background-image: url(../img/Bookmark.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.box__flight-title {
  color: #4592FF;
  padding-bottom: 15px;
}

.left__box-flights2 {
  margin-left: 25px;
}

.box__flight-article {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

.box__flight-comment {
  display: flex;
  margin-top: 20px;
}

.box__flight-date {
  margin-right: 10px;
}

.box__flight-comnumber {
  margin-right: 10px;
}

.box__flight-line {
  border: 1px solid;
  color: #939699;
  margin-top: 25px;
  margin-bottom: 25px;
}

.left__box-food {
  display: flex;
  background-image: url(../img/Bookmark-red.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.box__food-title {
  color: #3BBDC4;
  padding-bottom: 15px;
}

.left__box-food2 {
  margin-left: 25px;
}

.box__food-article {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

.box__food-comment {
  display: flex;
  margin-top: 20px;
}

.box__food-date {
  margin-right: 10px;
}

.box__food-comnumber {
  margin-right: 10px;
}

.box__food-line {
  border: 1px solid;
  color: #939699;
  margin-top: 25px;
  margin-bottom: 25px;
}

.left__box-science {
  display: flex;
  background-image: url(../img/Bookmark.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.left__box-science1 {
  margin-left: 25px;
}

.box__science-title {
  padding-bottom: 15px;
  color: #FF4F52;
}

.box__science-article {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

.box__science-comment {
  display: flex;
  margin-top: 20px;
}

.box__science-date {
  margin-right: 10px;
}

.box__science-comnumber {
  margin-right: 10px;
}

.box__science-line {
  border: 1px solid;
  color: #939699;
  margin-top: 25px;
  margin-bottom: 25px;
}

.left__box-health {
  display: flex;
  background-image: url(../img/Bookmark.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.box__health-title {
  padding-bottom: 15px;
  color: #3BBDC4;
}

.box__health-article {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  width: 343px;
  font-family: "Roboto Slab", serif;
}

.box__health-comment {
  display: flex;
  margin-top: 20px;
}

.box__health-date {
  margin-right: 10px;
}

.box__health-comnumber {
  margin-right: 10px;
}

.left__box-health2 {
  margin-left: 25px;
}

.box__health-line {
  border: 1px solid;
  color: #939699;
  margin-top: 25px;
  margin-bottom: 25px;
}

.left__box-science2 {
  display: flex;
  background-image: url(../img/Bookmark.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.box__science2-title {
  padding-bottom: 15px;
  color: #FF4F52;
}

.box__science2-article {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

.box__science2-comment {
  display: flex;
  margin-top: 20px;
}

.box__science2-date {
  margin-right: 10px;
}

.box__science2-comnumber {
  margin-right: 10px;
}

.left__box-science3 {
  margin-left: 25px;
}

.box__science2-line {
  border: 1px solid;
  color: #939699;
  margin-top: 25px;
  margin-bottom: 25px;
}

.left__box-art {
  display: flex;
  background-image: url(../img/Bookmark.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.box__art-title {
  padding-bottom: 15px;
  color: #AC8EE3;
}

.box__art-article {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

.box__art-comment {
  display: flex;
  margin-top: 20px;
}

.box__art-date {
  margin-right: 10px;
}

.box__art-comnumber {
  margin-right: 10px;
}

.left__box-art2 {
  margin-left: 25px;
}

.right__box {
  display: flex;
  flex-direction: column;
  max-width: 263px;
  font-family: "Lato", sans-serif;
}

.right__box-title {
  font-weight: bold;
}

.right__box-titleline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-office {
  display: flex;
  background-image: url(../img/1.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-officeimg {
  margin-right: 10px;
}

.right__box-office2 {
  margin-left: 10px;
}

.right__box-officeline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-vocalimg {
  margin-right: 10px;
}

.right__box-vocal {
  display: flex;
  background-image: url(../img/22.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-vocal2 {
  margin-left: 10px;
}

.right__box-home2 {
  margin-left: 10px;
}

.right__box-google2 {
  margin-left: 10px;
}

.right__box-alice2 {
  margin-left: 10px;
}

.right__box-look2 {
  margin-left: 10px;
}

.right__box-sunday2 {
  margin-left: 10px;
}

.right__box-vocaline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-googleimg {
  margin-right: 10px;
}

.right__box-google {
  display: flex;
  background-image: url(../img/33.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-googleline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-homepng {
  margin-right: 10px;
}

.right__box-home {
  display: flex;
  background-image: url(../img/44.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-homeline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-alicepng {
  margin-right: 10px;
}

.right__box-alice {
  display: flex;
  background-image: url(../img/55.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-aliceline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-lookpng {
  margin-right: 10px;
}

.right__box-look {
  display: flex;
  background-image: url(../img/66.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-lookline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-sundaypng {
  margin-right: 10px;
}

.right__box-sunday {
  display: flex;
  background-image: url(../img/77.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.right__box-sundayline {
  border: 1px solid;
  color: #D9DADB;
  margin-top: 17px;
  margin-bottom: 17px;
}

.right__box-22line {
  padding-left: 97px;
  font-weight: bold;
}

.container3 {
  background-color: #262D33;
  display: flex;
}

.container3__main {
  height: 570px;
  width: 555px;
  background-image: url(../img/background.png);
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  margin: auto;
}

.footer__headline {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
}

.footer__headline-title {
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 40px;
  padding-top: 60px;
  font-weight: bold;
}

.footer__headline-email {
  display: flex;
  margin: auto;
  padding-top: 25px;
}

.email {
  width: 313px;
  padding-right: 10px;
}

.footer__container-rows {
  flex-direction: row;
  padding-top: 100px;
  justify-content: space-between;
  width: 1140px;
  margin: auto;
  display: flex;
  font-family: "Lato", sans-serif;
  padding-bottom: 65px;
}

.footer__news-title {
  padding-bottom: 25px;
  font-weight: bold;
}

.footer__art-title {
  padding-bottom: 25px;
  font-weight: bold;
}

.footer__travel-title {
  padding-bottom: 25px;
  font-weight: bold;
}

.footer__sports-title {
  padding-bottom: 25px;
  font-weight: bold;
}

.footer__tech-title {
  padding-bottom: 25px;
  font-weight: bold;
}

.footer__moneys-title {
  padding-bottom: 25px;
  font-weight: bold;
}

.footer__moneys-1 {
  padding-bottom: 15px;
}
.footer__moneys-2 {
  padding-bottom: 15px;
}
.footer__moneys-3 {
  padding-bottom: 15px;
}
.footer__moneys-4 {
  padding-bottom: 15px;
}
.footer__moneys-5 {
  padding-bottom: 15px;
}

.footer__news-1 {
  padding-bottom: 15px;
}
.footer__news-2 {
  padding-bottom: 15px;
}
.footer__news-3 {
  padding-bottom: 15px;
}
.footer__news-4 {
  padding-bottom: 15px;
}
.footer__news-5 {
  padding-bottom: 15px;
}

.footer__art-1 {
  padding-bottom: 15px;
}
.footer__art-2 {
  padding-bottom: 15px;
}
.footer__art-3 {
  padding-bottom: 15px;
}
.footer__art-4 {
  padding-bottom: 15px;
}
.footer__art-5 {
  padding-bottom: 15px;
}

.footer__travel-1 {
  padding-bottom: 15px;
}
.footer__travel-2 {
  padding-bottom: 15px;
}
.footer__travel-3 {
  padding-bottom: 15px;
}
.footer__travel-4 {
  padding-bottom: 15px;
}
.footer__travel-5 {
  padding-bottom: 15px;
}

.footer__sports-1 {
  padding-bottom: 15px;
}
.footer__sports-2 {
  padding-bottom: 15px;
}
.footer__sports-3 {
  padding-bottom: 15px;
}
.footer__sports-4 {
  padding-bottom: 15px;
}
.footer__sports-5 {
  padding-bottom: 15px;
}

.footer__tech-1 {
  padding-bottom: 15px;
}
.footer__tech-2 {
  padding-bottom: 15px;
}
.footer__tech-3 {
  padding-bottom: 15px;
}
.footer__tech-4 {
  padding-bottom: 15px;
}
.footer__tech-5 {
  padding-bottom: 15px;
}

.footer__container-divider {
  display: flex;
  margin: auto;
  width: 1140px;
  padding-top: 40px;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 40px;
}

.footer__dividerline {
  border: 1px solid;
  color: #939699;
}

.footer__divider-options {
  display: flex;
  align-items: center;
}

.footer__divider-logo {
  padding-right: 30px;
}

.footer__divider-options1 {
  padding-right: 30px;
}

.footer__divider-socials {
  display: flex;
  padding-left: 310px;
}

.footer__divider-socials1 {
  padding-left: 15px;
}

.footer__container-divider2 {
  border: 1px solid;
  color: #939699;
}

.footer__container-bottom {
  max-width: 1140px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */