.recommend
    background-image: url(../img/Group-2.png)
    height: 570px
    &__container
        display: flex
        max-width: 1140px
        margin: auto

    &__main
        
        height: 570px
        background-repeat: no-repeat
        background-size: cover
        width: 877px
        background-image: url(../img/backgroubnd.png)
        display: flex
        justify-content: space-between
        padding: 55px
        &-profileimg
            margin-top: 55px
            margin-left: 55px
        &-svg
            margin-right: 30px


    &__texts
        background-color: #ffffff
        width: 263px


    &__main-author
        display: flex
        justify-content: flex-start
        color: #ffffff

    &__main-job
        font-size: 12px
        display: flex
        color: #939699

    &__main-destination
        margin-top: 120px
        font-size: 12px
        color: #4592FF

    &__main-title
        font-size: 40px
        color: #ffffff
        display: flex
        margin-top: 25px

    &__main-downside
        display: flex
        margin-top: 45px
        align-items: center

    &__main-play
        margin-left: 30px
        display: flex

    &__main-playsvg
        color: White
        font-size: 14px
        padding: 10px





    &__texts


        &-title
            display: flex
            padding: 20px
            align-items: center
            

        &-titleline
            border: 1px solid #4B5157


        &-food
            color: #3BBDC4
            padding: 20px