.recommend
    background-image: url(../img/Group-2.png)
    height: 570px
    &__main
        
        height: 570px
        background-repeat: no-repeat
        background-size: cover
        width: 877px
        margin-left: 185px
        background-image: url(../img/Image.png)


    &__texts
        background-image: url(../img/Rectangle-8)


    &__main-profileimg
        
        margin-top: 55px
        margin-left: 55px

.recommend__main-img
    margin-top: 30px


        
